
/* components/header.css */

nav {
    white-space: nowrap;
    
    a {
        span {
            color: transparent;
            /* letter-spacing: -0.75em; */
            transition: color 0.25s, letter-spacing 0.25s;
        }

        &:hover{

            span {
                color: inherit;
                letter-spacing: 0;
            }
        }
        svg {
            display: inline-block;
            height: 1em;
            vertical-align: -0.125em;
        }
    }
}

.logo {
    white-space: nowrap;
}